<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>mvc.web</display-name>

	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>adminServlet</servlet-name>
		<servlet-class>servlet.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminServlet</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>vehiculeServlet</servlet-name>
		<servlet-class>servlet.VehiculeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>vehiculeServlet</servlet-name>
		<url-pattern>/vehicule</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>logoutServlet</servlet-name>
		<servlet-class>servlet.ServletLogout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>newAccountServlet</servlet-name>
		<servlet-class>servlet.ServletCreateAccount</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>newAccountServlet</servlet-name>
		<url-pattern>/accountCreate</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<description>RequestListenr</description>
		<listener-class>dao.InitialisationDaoFactory</listener-class>
	</listener>

	<servlet>
		<servlet-name>download</servlet-name>
		<servlet-class>servlet.DownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>upload</servlet-name>
		<servlet-class>servlet.UploadServlet</servlet-class>
		<!--  
		<multipart-config>
			<location>C://uploadfiles/</location>
			<max-file-size>52428800</max-file-size> 1024 * 1024 * 50 = 50MB
			<max-request-size>52428800</max-request-size>
			<file-size-threshold>3145728</file-size-threshold> 1024 * 1024 * 3 = 3MB 
		</multipart-config>
		--> 
	</servlet>
	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>