@charset "ISO-8859-1";

body {
	background-image: url("/mvc.web/image/Ciel.jpg");
	/* ../image/Ciel.jpg */
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100vh;
	width: 100vw;
}

table {
	position: between;
}
form{
	top : 50%;
	width : 50%;
	margin : auto;
}